upstream {{ item.key }} {
{% for server in groups.web %}
    server {{ hostvars[server].ansible_host }}:{{ item.value.backend }};
{% endfor%}
}

server {
  listen {{ item.value.frontend }};

  location / {
    proxy_pass http://{{ item.key }};
  }
}